{% if config.plugins.aboutme.social_pages.enabled %}
<div class="about-me h-card" style="text-align: center; {% if not config.plugins.social_pages.display %}display: none;{% endif %}">
	{% set src = aboutme_picture_src %}
	{% set author_url = base_url == '' ? '/' : base_url %}
    {% set author = "<a rel='author' class='p-name u-url' href='" ~ author_url ~ "'>" ~ aboutme_name ~ "</a>" %}
	{% if not config.plugins.aboutme.gravatar.enabled %}
		{% set src = uri.rootUrl(false) ~ (uri.rootUrl(false) == '/' ? '' : '/') ~ aboutme_picture_src %}
	{% endif %}
	<img src="{{ src }}" title="{{ aboutme_name }}" alt="Profile picture" class="u-photo" /><br />
    {% if config.plugins.aboutme.social_pages.show_text %}
        <span>{{ "PLUGIN_ABOUTME.SOCIAL_ALSO_ON"|t(author) }}</span>
    {% else %}
        <span style="display: none">{{ author }}</span>
    {% endif %}
    <div class="social-pages">
    {% for page in aboutme_pages %}
        {% if page.url|length %}
        <a href="{{ page.url }}" {{ page.title ? 'title="' ~ page.title ~ '"' }} target="_blank" rel="me" class="u-url"><i class="fa fa-2x fa-{{ page.icon }}"></i></a>
        {% endif %}
    {% endfor %}
    </div>
</div>
<% endif %>
