<div class="sidebar-content {{ config.plugins.aboutme.sidebar.show ? '' : 'invisible' }} {{ config.plugins.aboutme.sidebar.center ? 'center' : '' }}">
    <div class="about-me about-me-social h-card">
        {% if aboutme_avatar %}
	    <a href="{{ base_url ? base_url : '/' }}" class="u-url {{ config.plugins.aboutme.sidebar.avatar ? '' : 'invisible' }}"><img src="/{{ aboutme_avatar }}" title="{{ config.plugins.aboutme.name }}" alt="Profile picture" class="u-photo" /></a><br />
	    {% endif %}
	    {% if config.plugins.aboutme.name %}
	    <h4 class="p-name {{ config.plugins.aboutme.sidebar.name ? '' : 'invisible' }}">{{ config.plugins.aboutme.name }}</h4>
	    {% endif %}
	    {% if config.plugins.aboutme.title and config.plugins.aboutme.sidebar.title %}
	    <h5 class="p-job-title {{ config.plugins.aboutme.sidebar.title ? '' : 'invisible' }}">{{ config.plugins.aboutme.title }}</h5>
	    {% endif %}
	    {% if config.plugins.aboutme.description %}
	    <div class="p-note {{ config.plugins.aboutme.sidebar.description ? '' : 'invisible'}}">{{ config.plugins.aboutme.description|markdown }}</div>
	    {% endif %}
	    {% if config.plugins.aboutme.social_pages.enabled %}
        <div class="social-pages {{ config.plugins.aboutme.sidebar.social_pages ? '' : 'invisible' }}">
        {% for page in aboutme_pages %}
            {% if page.url|length %}
            {% include 'partials/social_pages/' ~ page.template|default('default') ~ '.html.twig' %}
            {% endif %}
        {% endfor %}
        {% endif %}
        </div>
    </div>
</div>
